//font Family

$vard: Verdana;
$vardLight: "verdana-light";
$optM: "optimamedium";
$opt: "optimanormal";
$vardanaNormal: "verdanaNormal";
$vardana: "verdanaN";
$vardanaBold: "verdanaBold";

//font size var
$paragraph-font-size: 1.188em;
$heading-font-size: 2.563em;
$button-font-size: 1.188em;
$small-desc: 0.93em;
$sub-text: 0.75em;

//website color var

$white: #fff;
$grey: #606161;
$lightGrey: #707070;
$offwhite: #fafafa;
$grywhite: #f7f7f7;
$black: #000;
$colorOrange: #d8751b;
$black2: #4c4444;
$black3: #606161;
$gray: #8a847f;
$gray3: #eeeeee;
$gray4: #b7b7b7;
$gold: #f9d566;
$gold2: #c49f47;

//font size var
